html,
body {
  height: 100%
}
#map{
    height: 300px;
}
#loginbox{
    border:1px solid grey;
    padding:10px;
    border-radius:6px;
    background: rgb(249,249,249);
    background: linear-gradient(-45deg, rgba(249,249,249,1) 0%, rgba(211,208,242,1) 50%, rgba(225,250,255,1) 100%);
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

* {
  box-sizing: border-box;
}

#container {
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px auto 50px;
  height: calc(100vh - 20px);
}

#header {
  /* background: #167d7f; */
  color: #000;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 200px;
  text-align: left;
}

#content {
    background: #fff;
    display: grid;
    grid-template-columns: 100px auto 100px;
  }

#content-center {
  flex-grow: 1; /* Allow content area to take up all available space */
  border-top: solid rgb(200, 200, 200) 2px;
  border-bottom: solid rgb(200, 200, 200) 2px;
  padding: 10px;
}

#content-left {
  border: solid rgb(200, 200, 200) 2px;
  padding: 10px;
}

#content-right {
  border: solid rgb(200, 200, 200) 2px;
  padding: 10px;
}

#footer {
  background: skyblue;
  text-align: center;
}

.nav-left{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.nav-link.active {
    font-weight: bold;
  }

.nav-link:hover {
background-color: skyblue;
border-radius: 7px;
}

  


